absl-py==0.9.0
altgraph==0.17
aniso8601==8.1.1
appdirs==1.4.4
apscheduler==3.6.3
astor==0.8.1
astroid==2.4.2
autopep8==1.5.4
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
certifi==2020.4.5.2
cffi==1.14.5
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cryptography==3.2.1
cv2-tools==2.4.0
distlib==0.3.1
docopt==0.6.2
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.10
flask-pwa==0.1.0
Flask-RESTful==0.3.8
Flask-SSE==1.0.0
future==0.18.2
gast==0.3.3
grpcio==1.29.0
gunicorn==20.0.4
idna==2.9
ImageHash==4.2.0
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==0.15.1
lazy-object-proxy==1.4.3
Markdown==3.2.2
MarkupSafe==1.1.1
mccabe==0.6.1
nltk==3.5
numpy==1.18.5
pefile==2019.4.18
Pillow==7.1.2
pipreqs==0.4.10
protobuf==3.12.2
pycodestyle==2.6.0
pycparser==2.20
pyfakewebcam==0.1.0
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PyJWT==1.7.1
pylint==2.6.0
pyOpenSSL==20.0.1
pyTelegramBotAPI==3.7.7
python-constraint==1.4.0
python-telegram-bot==13.4.1
pytube==10.6.0
pytz==2021.1
PyWavelets==1.1.1
pywin32-ctypes==0.2.0
redis==3.5.3
regex==2020.6.8
requests==2.23.0
scipy==1.6.1
selenium==3.141.0
six==1.15.0
telebot==0.0.4
tensorboard==1.8.0
termcolor==1.1.0
tflearn==0.3.2
toml==0.10.2
tornado==6.1
tqdm==4.46.1
typing-extensions==3.7.4.3
tzlocal==3.0b1
urllib3==1.25.9
virtualenv==20.4.2
waitress==1.4.4
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
yarg==0.1.9
